<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966110321537-bg6q76idnnvqf2fdvu9fstertat6mgq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966110321537-bg6q76idnnvqf2fdvu9fstertat6mgq1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966110321537-1gk2abgokfo58e138svul8m66bt2pscf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3rSjSom43JLpJ--xKCFh509QtSlE5e2U</string>
	<key>GCM_SENDER_ID</key>
	<string>966110321537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superbekala.SuperBekaaIOS</string>
	<key>PROJECT_ID</key>
	<string>super-bekala-dc663</string>
	<key>STORAGE_BUCKET</key>
	<string>super-bekala-dc663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966110321537:ios:f499491df6348e07d3e680</string>
	<key>DATABASE_URL</key>
	<string>https://super-bekala-dc663.firebaseio.com</string>
</dict>
</plist>