<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806574922305-8f0bnjog7kriohcipdf2ilu7jb4b7sch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806574922305-8f0bnjog7kriohcipdf2ilu7jb4b7sch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806574922305-0a0nddnesdbtelu2mr04ql74rdutme7e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAP1_7WL2XueQa9sQn1SaWNDxlkQSio3ek</string>
	<key>GCM_SENDER_ID</key>
	<string>806574922305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superbekala.SuperBekaaIOS</string>
	<key>PROJECT_ID</key>
	<string>sincere-pixel-287710</string>
	<key>STORAGE_BUCKET</key>
	<string>sincere-pixel-287710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806574922305:ios:c22a415e3d7969e2a404c0</string>
	<key>DATABASE_URL</key>
	<string>https://sincere-pixel-287710.firebaseio.com</string>
</dict>
</plist>